@import url('https://fonts.googleapis.com/css2?family=Orbitron:wgth@600&display=swap');

body {
    background: #400854;
    color: #FDDF4F;
}

.clock {
    height: 100%;
    padding-top: 100%;
    text-align: center;
    font-size: 60px;
    font-family: orbitron;
}