@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
    background: purple;
    color: gold;
}

.clock {
    height: 100%;
    padding: 100px;
    text-align: center;
    font-size: 60px;
    font-family: 'Orbitron';
}